# Node
**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws

#MacOS
**/.DS_Store
**/thumbs.db

# App-specific
.github
screenshots/
logs/
results
dist
gsb-test
ImageMagick-*/
errors.txt
a11y-assist-scan-results.zip