<div id="failed-criteria-card" class="mt-3">
  <div class="wcag-row-column">
    <div>
      <h3 class="wcag-title">Failed Criteria (<span id="failedCriteriaCount">0</span>)</h3>
    </div>

    <ul id="failedCriteriaList" class="unbulleted-list">
      <!-- dynamically populated -->
    </ul>

    <button
      id="viewAllFailedCriteria"
      type="button"
      class="view-all-link"
      hidden
    >
      View all failed criteria
      <svg width="8" height="10" viewBox="0 0 6 10" aria-hidden="true" focusable="false">
        <path
          d="M0.726562 7.06L3.7799 4L0.726562 0.94L1.66656 0L5.66656 4L1.66656 8L0.726562 7.06Z"
          fill="#5735DF"
        />
      </svg>
    </button>
  </div>
</div>
