<div class="category-badges-container">
  <div class="category-item">
    <span class="category-badge must-fix">Must Fix</span>
    <span><%= items.mustFix.rules.length %> issues</span>
  </div>
  <div class="category-item">
    <span class="category-badge good-to-fix">Good to Fix</span>
    <span><%= items.goodToFix.rules.length %> issues</span>
  </div>
  <div>
    <span class="category-badge needs-review">Manual Test</span>
    <span><%= items.needsReview.rules.length %> issues</span>
  </div>
</div>
